#divinformacoes{
  background-image: url("../imgs/fundodivinformacoes.png");
  width: 285px;
  height: 233px;
  top: 58px;
  left: 69px;
  color: white;
  padding: 35px;
  position: relative;
 }
#DIusuario{
  font-size: 20px;
}
#DIpontuacao{
  font-size: 20px;
}
#DIfase{
  font-size: 20px;
}
#DIprova{
  font-size: 20px;
}
