body{
  background-image: url("../imgs/fundojogo.jpg");
  background-repeat: no-repeat;
}
#iconprovas{
  left: 678px;
  top: -87px;
  position: relative;
}
#iconperfilusuario{
  left: 669px;
  top: -85px;
  position: relative;
}
#iconhome{
  top: 22px;
  left: 25px;
  position: relative;
}
#iconranking{
  top: 22px;
  left: 25px;
  position: relative;
}
#titulo{
  font-size: 2.5rem;
  top: -27px;
  left: 173px;
  color: white;
  position: relative;
}
#tela{
  margin-left: 400px;
  margin-top: 100px;
  top: 0px;
  position: absolute;
}
#navbar{
  top: -325px;
  left: 400px;
  width: 800px;
}
#backgroundstatus{
  background-image: url("../imgs/status.jpg");
  width: 800px;
  position: fixed;
  height: 100px;
  background-repeat: no-repeat;
  top: 1px;
  left: 400px;

}
#fecharankjogo{
  visibility: hidden;
}
