#voltarjogocss{
  position: relative;
  top: 423px;
  left: 275px;

}
#notascss{
  top: -211px;
      left: 599px;
      right: -857px;
      position: relative;
}
#notasfont{
  font-size: 24px;
}
#divtabela{
  top: -91px;
    left: 269px;
    position: relative;
        width: 668px;
}
#logonotas{
  position: relative;
  top: -299px;
  left: 708px;

}
