#voltarjogocss{
  position: relative;
  top: 265px;
  left: 239px;
}
#notascss{
  margin-top: -300px;
  margin-left: 756px;
  margin-right: -857px;;
}
#divtabela{
  margin-top: 85px;
  margin-left: 543px;
}
#logonotas{
  position: relative;
  top: -252px;
  left: 861px;
}
